body {
    font-family: "Palanquin", sans-serif;

}

.pointer {
    cursor: pointer;
}


.header-footer {
    height: 112px;
    background-color: rgba(231, 108, 31, 1);
}

.inner-header-logo-n-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-left: 120px;
    margin-right: 20px;
}

.header_logo_styling {
    width: 86px;
    height: 36px;
}

.burger_menu_styling {
    width: 45px;
    height: 35px;

}

.hero_background {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-view-box: inset(20% 0 0 0);

}

.logo_burger_overlay_position {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 112px;
}

.logo_burger_overlay {
    height: 200px;
    border-radius: 92px;
}

.slogan_receptions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    height: 260px;
}

.logo_n_reception {
    display: flex;
    align-items: center;
    gap: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

.burgerhouse_size {
    width: 300px;
    height: 75px;
}

.starReceptions_size {
    width: 110px;
    height: 32px;
}

.categorie_nr_1 {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgba(231, 108, 31, 1);
    height: 60px;
}


.catetorie_picture_size {
    display: flex;
    position: absolute;
    bottom: 0px;
    height: 80px;
}

.catetorie_picture_size::before {
    position: absolute;
}

h2 {
    color: white;
    font-size: 28px;
    padding-left: 105px;
}

.menu_card {
    height: 700px;
}

.menu_card_styling {
    margin: 18px;
    width: 672px;
    height: 140px;
    border-radius: 8px;
    background-color: antiquewhite;
    margin-left: 90px;
}

.menu_card_positions {
    display: flex;
    gap: 28px;
    margin: 8px;
}

.menu_details {
    display: flex;
    padding-top: 8px;
}

.meal_headline_n_description {
    width: 290px;
}

.veggie_mushroom_black_burger_img {
    width: 180px;
    height: 120px;
    border-radius: 12px;
    object-fit: cover;
    margin-top: 10px;
}

.meal_headline {
    font-size: 20px;
    font-weight: bold;
}

.meal_description {
    font-size: 15px;
}

.price_state_add {
    margin-bottom: 32px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    row-gap: 40px;
}

.added-amount-plus-btn {
    background-color: white;
    border: none;
    border-radius: 16px;
    color: rgba(231, 108, 31, 1);
    font-size: 16px;
    padding: 8px;
}


.basket_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;

    right: 0;
    width: 360px;
    height: 668px;
    border-radius: 24px 0px 0px 24px;
    color: white;
    background-color: rgba(54, 53, 52, 1);
}

.basket_heading {
    margin-top: 22px;
    margin-bottom: 24px;
    font-size: 20px;
    padding: 0;
}

.slogan_headline {
    font-size: 20px;
}

.category_heading {
    display: none;
}

.empty_basket_message_n_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.empty_basket_message {
    text-align: center;
    margin-bottom: 50px;
}

.empty_basket_img {
    width: 112px;
    height: 112px;
}

.menus_basket_card {
    width: 290px;
    height: 316px;
    overflow: auto;

}

.basket_card_calc {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.basket_calc_positioning {
    display: flex;
    gap: 82px;
    margin: 32px 16px;
}

.single_CardItem {
    max-width: 230px;
    padding: 10px;
    border-radius: 24px;
    color: black;
    background-color: rgba(253, 234, 220, 1);
    margin: 16px;

}

.basket_card_right {
    display: flex;
    justify-content: space-between;
    justify-items: flex-end;
}

.card_price {
    font-size: 14px;
    font-weight: bold;
}

.divider {
    border-top: 3px solid white;
    margin-top: 8px;
}

.buy_button {
    font-size: large;
    color: white;
    background-color: rgba(231, 108, 31, 1);
    border-radius: 16px;
    border: none;
    width: 200px;
}

.trash_icon {
    width: 18px;
    height: 18px;
}

.dialog-header-class {
    display: flex;
    justify-content: flex-end;
}

.closing_btn {
    height: 16px;
    width: 16px;
}

.dialog-order_confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myDialog {
    background-color: rgba(54, 53, 52, 1);
    color: white;
    max-width: 420px;
    max-height: 280px;
    border-radius: 16px;
    border: none;
    margin: auto;
    padding: 46px;
}

.dialog-main-style {
    display: flex;
    justify-items: center;
}


.delivery_car {
    height: 60px;
    width: 80px;
    /* Flips the image */
    transform: scaleX(-1);
}

.font_size_OC {
    font-size: 32px;
    font-weight: bold;
}

.font_size_dialog {
    font-size: 22px;
}


.nav-desktop {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    color: white;
}